.chat {
    
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 9fr;
    grid-template-areas: 
    "users messages"
    "users newmessage"
    ;

    
    
}

.list_users {
    grid-area: users;
    margin-right: 20px;

}

.item_user{
    padding: 3px 0;
    margin: auto;
    border: 0.5px dotted #26a69a;
    
}

.item_user img {
    margin: 0 10px;
    max-width: 40px;
    max-height: 40px;
}

.chat_messages {
    grid-area: messages;
    overflow: auto;
    width: 80%; /* Ширина блока */
    height: 200px;
}

.item_messege {
    margin: 10px 0;
}

.item_messege>span {
    background-color: #26a69a;
    border-radius: 15px;
    padding: 3px 15px;
    margin: 10px 3px;
}
.messegeArea {
    width: 80%;
    height: 70px;
}

.sendButton {
    background-image: url(./send_msg_icon.png);
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    border: #2e2e2e 1px;
}
.sendButton:hover {
    background-color: #26a69a;
    color:#f5f5f5;
}